body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    align-content: center;
    justify-content: center;
    background-color: #01796f;
    border-radius: 20px;
}

.cell {
    border: 3px solid rgba(0, 0, 0, 0.500);
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-size: 80px;
    color: rgb(255, 200, 0);
}
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7){
    border-left: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: #01796f;
    color: rgb(255, 200, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}  

.winningMessage {
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 200, 0)
}  